.card{
    border: none;
    cursor: pointer;
}

.card-tikect-type{
    padding:20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    margin-bottom: 20px;
}

.price-ticket-type{
    display: flex;
    justify-content: flex-end;
    color: #FE634E;
    font-size: 1.2rem;
    font-weight: 500;
}


.input-group{
    background-color: white;

    .input-group-text{
        cursor: pointer;
        border-radius: 4px !important;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        user-select: none;
        background-color: white;
        color: #FE634E;
        border: 2px solid #FE634E;

        
        &.minus{
            margin-right: 5px;
            font-size: 1rem;

        }

        &.plus{
            border: 2px solid #FE634E;
            color: #FE634E;
            font-size: 1rem;

            margin-left: 5px;
        }
    }
    

    input.form-control{
        height: 35px;
        border:0;
        border-radius: 0;
        box-shadow: none;
        background-color: white;
        padding:0.5rem 1rem;
        text-align: center;

        
        &.counter{
            font-size: 1.2rem;

        }
        &.date{
            font-size: 0.6rem;
            border: 1px solid rgb(146, 146, 146);
            height: 40px;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}

.form-select{
    font-size: 0.8rem;
    padding:10px;
}

.btn-orange{
    background-color: #FE634E;
    color: white;
}
