<a class="card-link" [href]="to !== undefined ?to:'/'">
    <div class="card" id="{{id}}">
        <img class="image-card" [src]="src" alt=""/>
        <div class="card-body">
            <div class="card-title">
                <h5 class="text-title">{{title}}</h5>
            </div>
            <!-- <div class="short-desc"> -->
            <!--     {{shortDesc(desc)}} -->
            <!-- </div> -->
        </div>
    </div>
</a>
