.image-card {
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
}

.card {
  border: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 16px;
  margin-bottom: 25px;
  border-radius: 30px;
  // height: 600px;
}

.card-title {
  // height: 30px;
  margin-bottom: 25px;
}

.text-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: #1e1d23;
}

.card-link:hover {
  text-decoration: none;
}

.card-price {
  color: #ffc222;
}

.text-price {
  font-weight: 700;
}

.short-desc {
  height: 30px;
  margin-bottom: 30px;
  color: #808080;
  font-size: 14px;
  line-height: 1.5;
  // text-align: justify;
}

.card:hover {
  background-color: #ffc222;
  transition: all 0.4s ease-in-out;

  .text-title {
    color: white;
  }

  .card-price {
    color: white;
  }
}
