<footer class="container-footer" id="footerpage">
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-4">
              <div id="google_translate_element"></div>
            </div>
            <div class="col-md-4 container-foot-icon">
              <a href="https://www.facebook.com/Jelajahinid-104827775405496/"
		 target="_blank" >
                <div class="container-icon">
                  <img src='/assets/logo/facebook.svg'/>
                </div>
              </a>
              <a href="https://instagram.com/jelajahinid?utm_medium=copy_link"
		 target="_blank">
                <div class="container-icon">
                  <img src='/assets/logo/instagram.svg'/>
                </div>
              </a>
              <a href="https://youtube.com/channel/UCexfqeAwCby1W31V78NzZrA"
		 target="_blank">
                <div class="container-icon">
                  <img src='/assets/logo/youtube.svg'/>
                </div>
              </a>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row pt-5 ">

	  <div class="col">
	    <h5 class="title mt-3"><i class="bi bi-geo-alt" style="font-size: 30px"></i></h5>
            <!-- <h5 class="title mt-3">Address</h5> -->
            <li class="list-unstyled">
              <a href="#!">GRAHA INNA<br>Jl. Prof. DR. Soepomo No.8, RT.1/RW.6, West Tebet, Tebet, South Jakarta City, Jakarta 12810</a>
	      <!-- <a href="#!">Menara BCA Lt.39<br>Jl. M.H. Thamrin No.1, RT.1/RW.5, Menteng, Kec. Menteng, Kota Jakarta Pusat<br>Daerah Khusus Ibukota Jakarta 10230</a> -->
            </li>
          </div>
          
          <div class="col">
	    <h5 class="title mt-3"><i class="bi bi-envelope" style="font-size: 30px"></i></h5>
            <!-- <h5 class="title mt-3">Mail</h5> -->
            <li class="list-unstyled">
	      <a href="#!">info@hin.id</a>
            </li>
          </div>

	  <div class="col">
	    <h5 class="title mt-3"><i class="bi bi-whatsapp" style="font-size: 30px"></i></h5>
            <!-- <h5 class="title mt-3">Phone</h5> -->
            <li class="list-unstyled">
	      <a href="#!">0812-8380-065</a>
            </li>
          </div>

	  <div class="col">
	    <!-- <i class="bi bi-telephone-inbound" style="font-size: 30px"></i> -->
	    <h5 class="title mt-3">Layanan Pengaduan Konsumen</h5>
            <li class="list-unstyled">
              <!-- <i class="bi bi-telephone" style="font-size: 20px;margin-right: 5px;"></i> -->
	      Direktorat Jenderal Perlindungan Konsumen dan Tertib Niaga Kementerian Perdagangan<br>0853-1111-1010
            </li>
          </div>
        </div>
        <div class="row pt-4">
            <div class="col" style="font-size: 0.8rem;">
                Copyrights © 2021 GlobalTix. All rights reserved.
            </div>
        </div>
    </div>
</footer>
