<div class="container container-detail">
    <div class="row ">
        <div class="col title-detail mt-5">
            {{detailProduct.title || detail.title}}
            
        </div>
    </div>
    <div class="row container-content-image">
        <div class="col-md-8">
            <div class="content-image" (click)="open(0)">
                <img class="img-detail" [src]="detailProduct.image== undefined ? this.env+'/image?name='+detail.imagePath : detailProduct.image[0]" />
            </div>
        </div>
        <div class="col-md-4 container-image-item "> 
            <div class="content-image-item">
                <img class="img-detail" [src]="detailProduct.image== undefined ? this.env+'/image?name='+detail.imagePath : detailProduct.image[1]" (click)="open(1)"/>
            </div>
            <div class="item-bottom content-image-item">
                <img class="img-detail" [src]="detailProduct.image== undefined ? this.env+'/image?name='+detail.imagePath : detailProduct.image[2]" (click)="open(2)"/>
            </div>
        </div>
    </div>
    <div class="row container-content">
        <div class="col-md-8">
            <div class="title-content-detail">
                Tentang Attraction
            </div>
            <div class="content-about">
                {{detailProduct.content || detail.description}}
            </div>
            <div class="title-content-detail mt-4">
                Fasilitas
            </div>
            <div class="content-about">
                <div class="row">
                    <div class="icon-fasilitas col-md-4">
                        <img src="/assets/icon/rest-room.svg" alt="">
                        <span class="container-avaliable ml-2">
                            Changing Room
                        </span>
                    </div>
                    <div class="icon-fasilitas col-md-4">
                        <img src="/assets/icon/parking.svg" alt="">
                        <span class="container-avaliable ml-2">
                            Parking Area
                        </span>
                    </div>
                    <div class="icon-fasilitas col-md-4">
                        <img src="/assets/icon/restaurant.svg" alt="">
                        <span class="container-avaliable ml-2">
                            Restaurant
                        </span>
                    </div>
                    <div class="icon-fasilitas col-md-4">
                        <img src="/assets/icon/toilet.svg" alt="">
                        <span class="container-avaliable ml-2">
                            Toilet
                        </span>
                    </div>
                    <div class="icon-fasilitas col-md-4">
                        <img src="/assets/icon/mosque.svg" alt="">
                        <span class="container-avaliable ml-2">
                            Praying Room
                        </span>
                    </div>
                </div>
            </div>
            <div class="title-content-detail mt-4">
                Pilihan Tiket 
            </div>
            <div class="container-type mt-4" *ngFor="let ticket of detailProduct.ticket_type == undefined ?ticketTypes:detailProduct.ticket_type ">
                <app-booking-form
                    [ticket]="ticket"
                ></app-booking-form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-tikect-type">
                <div class="title-content-detail">
                    Opening Hours
                </div>
                <div class="hours_desc mt-5">
                    {{detailProduct.hoursOfOperation || detail.hoursOfOperation || '-'}}
                </div>
            </div>
        </div>
        
    </div>
</div>
