.banner .bg {
  filter: brightness(70%);
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.news-detail {
  padding: 0px 4vw;
  font-size: 1vw;
}

.news-detail .title {
  padding-top: 2vw;
  margin-bottom: 0px;
  font-size: 2.6vw;
  font-weight: 500;
  text-transform: uppercase;
  color: #242056;
}

.news-more {
  background-color: #1b5c74;
  padding: 2rem 2rem;
}

.img-list {
  width: 400px;
}

.news-more .title {
  color: white;
  font-size: 1.3vw;
  font-weight: 500;
}

.news-more .button {
  color: white;
  font-weight: 500;
  font-size: 0.9vw;
}

.news-footer {
  padding: 2vw 4vw;
}

.img-logo {
  max-width: 200px;
  max-height: 110px;
}
