.container {
  margin-top: 6rem;
}

.text-input-paper {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  color: #202124;
  font-size: 16px;
  height: 40px;
  line-height: 24px;
  margin: 0;
  min-width: 0%;
  outline: none;
  padding: 0;
  z-index: 0;
  width: 100%;
  padding-left: 20px;
}

.invalid-form {
  border: 1px solid #d00 !important;
}

.incorrect_username {
  display: flex;
  color: #d00;
  margin-bottom: 20px;
}

.warning_username {
  display: none;
}
