<div class="container">
    <div class="row">
        <div class="col-10">

        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary mt-3 " (click)="exportArrayToExcel()">Download Excel</button>

        </div>
    </div>
    <table class="table table-striped mt-5" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Email
                </th>
                <th scope="col">
                    Nama Penginapan
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dt of data; index as i">
                <td>{{ dt.email || '' }}</td>
                <td>{{ dt.nama_penginapan || ' ' }}</td>

            </tr>
        </tbody>
    </table>

      
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>

    </div>
    <div class="modal-body">
        <div [ngClass]="[isLogin?'warning_username':'incorrect_username']" >
            Username & Password is Incorrect
        </div>
      <form [formGroup] = "formlogin">
        <div class="form-group">
          <label for="username required">Username</label>
          <div class="input-group">
            <input [ngClass] = "['text-input-paper',isFieldValid('username')?'invalid-form':'']"  autocomplete="text" type="text" name="username" formControlName="username">
          </div>
          <app-display-errors 
          [displayError]="isFieldValid('username')" 
          errorMsg="This is a required field"></app-display-errors>
        </div>
        <div class="form-group">
            <label for="username required">Password</label>
            <div class="input-group">
              <input [ngClass] = "['text-input-paper',isFieldValid('password')?'invalid-form':'']"  autocomplete="text" type="password" name="password" formControlName="password">
            </div>
            <app-display-errors 
          [displayError]="isFieldValid('password')" 
          errorMsg="This is a required field"></app-display-errors>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="loginButton()">Login</button>
    </div>
  </ng-template>
  <button id="openModalButton" class="btn btn-lg btn-outline-primary" (click)="open(content)" style="display: none;">Launch demo modal</button>