<div class="container-success-payment">
        <div class="card col-md-4">
            <img class="icon-success" src="/assets/icon/successful.svg"/>
            <div class="status-success">
                Success Booking
            </div>
            <div class="text-center" style="padding-left: 40px;padding-right: 40px;">
                Jika Anda berkunjung sekarang, harap unduh e-tiket Anda dan tunjukkan saat masuk ke objek wisata
            </div>
            <div>
                <button type="button" class="btn btn-orange mt-5">Download E-Ticket <i class="ml-3 bi bi-download"></i></button>
            </div>
            <button type="button" class="btn back-home mt-5"  aria-expanded="false" aria-controls="toggle-2" routerLink="/">Back To Home</button>
            <!-- <div class="mt-5 back-home" routerLink="['/']">
                Back To Home
            </div> -->
        </div>
        
</div>