@import "/src/styles.scss";

.image-card {
  height: 250px;
  width: 330px;
  object-fit: cover;
  border-radius: 30px;
  @media screen and (min-width: $medium) and (max-width: $high) {
    height: 120px;
    width: 180px;
    border-radius: 20px;
  }

  @media screen and (min-width: $small) and (max-width: $medium) {
    height: 90px;
    width: 120px;
    border-radius: 12px;
  }
  @media screen and (min-width: 100px) and (max-width: $small) {
    height: 90px;
    width: 90px;
    border-radius: 12px;
  }
}

.card {
  border: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 16px;
  margin-bottom: 25px;
  border-radius: 30px;

  @media screen and (min-width: $small) and (max-width: $medium) {
    height: 220px;
  }
}

.card-title {
  height: 30px;
  margin-bottom: 25px;
  @media screen and (min-width: $small) and (max-width: $medium) {
    margin-left: 10px;
  }
}

.text-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: #1e1d23;
  @media screen and (min-width: $medium) and (max-width: $high) {
    font-size: 14px;
    border-radius: 20px;
  }

  @media screen and (min-width: $small) and (max-width: $medium) {
    font-size: 12px;
    border-radius: 20px;
  }

  @media screen and (min-width: 100px) and (max-width: $small) {
    font-size: 10px;
    border-radius: 20px;
  }
}

.card-link:hover {
  text-decoration: none;
}

.card-price {
  color: #ffc222;
}

.text-price {
  font-weight: 700;
}

.short-desc {
  height: 30px;
  margin-bottom: 30px;
  color: #808080;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  margin-left: 30px;
  @media screen and (min-width: $small) and (max-width: $medium) {
    margin-left: 44px;
    font-size: 12px;
    margin-top: 30px;
  }

  @media screen and (min-width: 100px) and (max-width: $small) {
    margin-left: 44px;
    font-size: 9px;
    margin-top: 30px;
  }
}

.card:hover {
  background-color: #ffc222;
  transition: all 0.4s ease-in-out;

  .text-title {
    color: white;
  }

  .card-price {
    color: white;
  }
}

.text-title {
  padding-left: 2rem;
}
