
<a class="card-link" [href]="to !== undefined ?to:'/'">
    <div class=" card">
        <div class="row">
            <div class="col-4">
                <img class="image-card" [src]="src" alt="indra-dewa-g-Cf-YCT1k-M0-unsplash-2" id={{name}}/>
            </div>
            <div class="col-8">
                <div class="card-title">
                    <h5 class="text-title">{{title}}</h5>
                </div>
                <div class="short-desc" [innerHTML]="shortDesc(desc)">
                    
                </div>
                <div class="card-price">
                    <h5 class="text-price">{{price}}</h5>
    
                </div>
            </div>
        </div>
        
    </div>
</a>
