<div class="row">
    <div class="col-12">
        <iframe [src]="url"
            frameBorder="0"
            allow="autoplay"
            allowFullScreen
            title="video"
            width="100%"
            height="1024"
            referrerpolicy="no-referrer"
            ></iframe>
    </div>
</div>