<div class="container container-detail">
    <div class="row">
        <div class="col title-detail">
            Cart Detail
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-view">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Product</th>
                        <th class="text-center" scope="col">Price</th>
                        <th class="text-center" scope="col">Quantity</th>
                        <th class="text-center" scope="col">SubTotal</th>
                        <th class="text-center" scope="col">Action</th>

                      </tr>
                    </thead>
                    <div *ngIf="cart.length>0; then blockThen else blockElse"></div>
                    <ng-template #blockThen>
                        <tbody >
                          <tr *ngFor="let item of cart; let i = index">
                            <td  scope="row">
                                <!-- {{item.title}} -->
                                {{item.name}}
    
                            </td>
                            <td class="text-center">
                                <!-- {{formatNumber(item.price)}} -->
                                {{formatNumber(item.originalPrice)}}
    
    
                            </td>
                            <!-- <td class="text-center">{{item.quantity}}</td> -->
                            <td class="quantity_">
                                <div class="input-group d-flex justify-content-center">
                                    <div class="input-group-prepand">
                                        <span class="input-group-text minus" (click)="minus(i)">
                                            -
                                        </span>
                                    </div>
                                    <span>
                                        {{item.quantity}}
                                    </span>
                                    <div class="input-group-append">
                                        <span class="input-group-text plus" (click)="plus(i)">
                                            +
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{formatNumber(item.originalPrice * item.quantity)}}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteCart(i)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
    
                          </tr>
                        </tbody>
                    </ng-template>
                    <ng-template #blockElse>
                        <tbody>
                            <tr>
                                <td  class="text-center" colspan="5">Tidak ada cart</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    
                  </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-view">
                <div class="title-card">
                    Data Pemesanan
                </div>
                <form [formGroup]="formDetail" action="">
                    <div class="form-group mt-3" >
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name" aria-describedby="emailHelp" placeholder="Enter Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email"  placeholder="Enter Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                        </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Phone</label>
                        <input type="text" class="form-control" id="phone" formControlName="phone"  placeholder="Enter Phone Number" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" required>
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                            <div *ngIf="f.phone.errors.pattern">Phone must be a valid phone number</div>

                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Country/City</label>
                        <input type="text" class="form-control" id="country" formControlName="city"  placeholder="Enter Country/City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" required>
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-view">
                <div class="row">
                    <div class="text-bold col-md-6">
                        Subtotal :
                    </div>
                    <div class="text-bold text-right col-md-6">
                        Rp.{{formatNumber(grandtotal)}}
                    </div>
                </div>
                <div class="row">
                    <div class="text-bold col-md-6">
                        Discount :
                    </div>
                    <div class="text-bold text-right col-md-6">
                        0
                    </div>
                </div>
                <div class="row mt-3 text-total">
                    <div class="text-bold col-md-6">
                        Total :
                    </div>
                    <div class="text-bold text-right col-md-6">
                        Rp.{{formatNumber(grandtotal)}}
                    </div>
                </div>
            </div>
            <div class="card card-view">
                <div class="row">
                    <div class="col-6">
                        Payment
                    </div>
                    <div class="col-6 text-right">
                        <img alt="" src="/assets/logo/2c2p.png" style="float: right; height: 32px; width: 66px;">
                    </div>
                    
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio1">Rp.{{formatNumber(grandtotal)}}</label>
                          </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-orange btn-block" (click)="checkout(content)">Check Out</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-body">
      <form>
        <div class="text-center">
            Are you sure want to proceed checkout?<br/>
            You Will be redirect to payment page
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cancel</button>
      <button type="button" class="btn btn-success" (click)="toPayment()">OK</button>
    </div>
  </ng-template>
