<a class="card-link" [routerLink]="to">
    <div class="card card-destination">
        <img class="image-card-destination" [src]="src" />
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <div class="card-content">
                    <p>{{content}}</p>
                </div>
                <h5 class="card-tools">View Detail</h5>
            </div>
    </div>
</a>