@import '/src/styles.scss';
.card-destination{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    height: 430px;
}


.card-link:hover{
    text-decoration: none;
}

.image-card-destination{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;
}


.card-content{
    font-size: 1rem;
    color: #B0B0B0;
}

.card-tools{
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    color: $main-color;

}

.card-title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #585858;
}
