@import "/src/styles.scss";

.img-slide {
  width: 100%;
  object-fit: fill;
  z-index: 1;
  margin-top: 5rem;
}

.text-title {
  margin-top: 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #282828;
}

.sub-text-title {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: $main-color;
}

.container-card {
  margin-top: 30px;
}

.buytiket {
  padding: 18px 30px 22px;
  background: #a0c526;
  width: 600px;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1000px;
  margin: -40px auto 20px;
  z-index: 99;
  display: block;
  position: relative;
  font-size: 25px;
  font-weight: 500;
  color: #fff;

  @media screen and (min-width: $medium) and (max-width: $high) {
    width: 400px;
    font-size: 16px;
  }

  @media screen and (min-width: $small) and (max-width: $medium) {
    width: 250px;
    font-size: 14px;
    padding: 18px 20px 22px;
  }

  @media screen and (min-width: 100px) and (max-width: $small) {
    width: 250px;
    font-size: 14px;
    padding: 18px 20px 22px;
  }
}

.buytiket .tiketonline {
  border-radius: 150px;
  padding: 10px 25px 10px 25px;
  color: #a0c526;
  font-size: 18px;
  background: #fff;
  background-size: auto;
  background-size: 20px;
  margin-left: 20px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  @media screen and (min-width: $small) and (max-width: $medium) {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    background-size: 0px;
    margin-left: 0px;
  }

  @media screen and (min-width: 100px) and (max-width: $small) {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    background-size: 0px;
    margin-left: 0px;
  }
}

.buytiket .bannermurah {
  position: absolute;
  top: -50px;
  right: -10px;
  transform: rotate(6deg);
  width: 20%;
  @media screen and (min-width: $medium) and (max-width: $high) {
    width: 15%;
    top: -10px;
    right: -20px;
    transform: rotate(6deg);
  }

  @media screen and (min-width: $small) and (max-width: $medium) {
    top: -10px;
    right: -20px;
    transform: rotate(6deg);
  }
}

.buytiket .tiketonline:hover {
  text-decoration: none;
  background-color: #a0c526;
  transform: scale(1.03, 1.03);
  box-shadow: white;
  color: #fff;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
