<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let item of slides; let id = index"
	 [ngClass]="{'active': id == 0, 'carousel-item': true}">
      <img src="{{item}}" class="d-block img-slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="buytiket">
    <span>Beli tiket online:
        <a href="https://tickets.jelajahin.id" target="_blank" class="tiketonline globaltix">Beli sekarang</a></span>
  </div>
<div class="container mb-5">
    <!-- <div class="row justify-content-center text-title" id="daily-pass">
      Tiket Moto GP Daily Pass
    </div>
    <div class="row container-card">
        <div class="col-md-3" *ngFor="let item of motogp_daily;let i = index">
            <app-card
                [title]="item.title"
                [desc]="item.description"
                [src]="imagePath(item.imagePath)"
                [to]="item.iframeLink"
	        [id]="item.name"
	      >
            </app-card>
        </div>
    </div> -->

    <!-- <div class="row justify-content-center text-title" id="weekend-pass">
        Tiket Moto GP Weekend Pass
    </div>
    <div class="row container-card">
        <div class="col-md-4" *ngFor="let item of motogp_weekend;let i = index">
            <app-card
              [title]="item.title"
                [desc]="item.description"
                [src]="imagePath(item.imagePath)"
                [to]="item.iframeLink"
	        [id]="item.name"
	      >
            </app-card>
        </div>
    </div>

    <div class="row justify-content-center text-title" id="hospitality-pass">
        Tiket Moto GP Hospitality Class (3 Days)
    </div>
    <div class="row container-card">
        <div class="col-md-4" *ngFor="let item of motogp_hospitality;let i = index">
            <app-card
                [title]="item.title"
                [desc]="item.description"
                [src]="imagePath(item.imagePath)"
                [to]="item.iframeLink"
	        [id]="item.name"
	      >
            </app-card>
        </div>
    </div>
    
    
    <div class="row justify-content-center text-title" id="4d3n-pass">
        4D3N MotoGP Package
    </div>
    <div class="row container-card">
        <div class="col-md-3" *ngFor="let item of motogp_4d3n;let i = index">
            <app-card
                [title]="item.title"
                [desc]="item.description"
                [src]="imagePath(item.imagePath)"
                [to]="item.iframeLink"
	        [id]="item.name"
	      >
            </app-card>
        </div>
    </div>


    <div class="row justify-content-center text-title" id="4d3n-bali">
        4D3N Bali Package
    </div>
    <div class="row container-card">
        <div class="col-md-3" *ngFor="let item of bali_4d3n;let i = index">
            <app-card
                [title]="item.title"
                [desc]="item.description"
                [src]="imagePath(item.imagePath)"
                [to]="item.iframeLink"
	        [id]="item.name"
	      >
            </app-card>
        </div>
    </div> -->

    <div class="row justify-content-center text-title" id="jogja">Jogja</div>
    <div class="row container-card">
        <div class="col-md-3" *ngFor="let item of ttd_jogja;let i = index">
            <app-card
                [title]="item.title"
                [desc]="item.description"
                [src]="imagePath(item.imagePath)"
                [to]="item.iframeLink"
	        [id]="item.name"
	      >
            </app-card>
        </div>
        <div class="row" *ngIf="all_data_jogja.length > 4">
          <div class="col-12" style="display: flex;justify-content: center;">
            <button type="button" class="btn btn-outline-primary" (click)="loadMoreJogja()" [innerHTML] = "load_ttd_jogja">Load More</button>
          </div>
        </div>
    </div>


    <div class="row justify-content-center text-title" id="hotel">
      Hotel
    </div>
    <div class="row container-card">
        <div class="col-md-4" *ngFor="let item of hotel;let i = index">
            <app-card
                [title]="item.title"
                [desc]="item.description"
                [src]="imagePath(item.imagePath)"
                [to]="item.iframeLink"
	        [id]="item.name"
	      >
            </app-card>
        </div>
    </div>
    
    
    <!-- bali jogja labuanbajo mandalika danautoba -->
    <div class="row justify-content-center text-title" id="bali">Bali</div>
    <div class="row container-card" id="bali_list">
      <div class="col-md-3" *ngFor="let item of ttd_bali;let i = index">
            <app-card
                [title]="item.title"
                [desc]="item.description"
                [src]="imagePath(item.imagePath)"
                [to]="item.iframeLink"
	        [id]="item.name"
	      >
            </app-card>
        </div>
        <div class="row" *ngIf="all_data_bali.length > 4">
          <div class="col-12" style="display: flex;justify-content: center;">
            <button type="button" class="btn btn-outline-primary" (click)="loadMoreBali()" [innerHTML] = "load_ttd_bali">Load More</button>
          </div>
        </div>
    </div>

    <div class="row justify-content-center text-title" id="labuanbajo">Labuan Bajo</div>
    <div class="row container-card">
        <div class="col-md-3" *ngFor="let item of ttd_labuanbajo;let i = index">
            <app-card
                [title]="item.title"
                [desc]="item.description"
	      [src]="imagePath(item.imagePath)"
              [to]="item.iframeLink"
	      [id]="item.name"
	      >
            </app-card>
        </div>
        <div class="row" *ngIf="all_data_labuan_bajo.length > 4">
          <div class="col-12" style="display: flex;justify-content: center;">
            <button type="button" class="btn btn-outline-primary" (click)="loadMoreLabuanBajo()" [innerHTML] = "load_ttd_labuan_bajo">Load More</button>
          </div>
        </div>
    </div>

    <div class="row justify-content-center text-title" id="mandalika">Mandalika</div>
    <div class="row container-card">
        <div class="col-md-3" *ngFor="let item of ttd_mandalika;let i = index">
            <app-card
              [title]="item.title"
              [desc]="item.description"
	      [src]="imagePath(item.imagePath)"
              [to]="item.iframeLink"
	      [id]="item.name"
	      >
            </app-card>
        </div>
        <div class="row" *ngIf="all_data_mandalika.length > 4">
          <div class="col-12" style="display: flex;justify-content: center;">
            <button type="button" class="btn btn-outline-primary" (click)="loadMoreMandalika()" [innerHTML] = "load_ttd_mandalika">Load More</button>
          </div>
        </div>
    </div>

    <div class="row justify-content-center text-title" id="danautoba">Danau Toba</div>
    <div class="row container-card">
        <div class="col-md-3" *ngFor="let item of ttd_danautoba;let i = index">
            <app-card
              [title]="item.title"
              [desc]="item.description"
	      [src]="imagePath(item.imagePath)"
              [to]="item.iframeLink"
	      [id]="item.name"
	      >
            </app-card>
        </div>
        <div class="row" *ngIf="all_data_danau_toba.length > 4">
          <div class="col-12" style="display: flex;justify-content: center;">
            <button type="button" class="btn btn-outline-primary" (click)="loadMoreDanauToba()" [innerHTML] = "load_ttd_danau_toba">Load More</button>
          </div>
        </div>
    </div>
</div>

<a href="https://api.whatsapp.com/send?phone=+628128380065&text=Halo,%20saya%20ingin%20bertanya%20tentang%20tiket%20MotoGP%20Jelajahin" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>

