<div class="con">
    <div class="container-form">
        <div class="card">
            <div class="title">
                Pendataan Homestay Untuk MotoGP
            </div>
            <div class="content">
                Pendataan Homestay & rumah warga untuk kebutuhan event MotoGP yang di kelola oleh HIN (Hospitality Indonesia Network - BUMN Perhotelan Indonesia)
            </div>
        </div>
        <div class="form">
            <form [formGroup] = "form"  (ngSubmit)="onClickSubmit()" >
                <div class="card">
                    <label class="label required">
                        Email
                    </label> 
                    <div class="input-area">
                        <input [ngClass] = "['text-input-paper',isFieldValid('email')?'invalid-form':'']"  autocomplete="email" type="text" name="email" formControlName="email">
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('email')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Tipe Penginapan
                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="penginapan" id="homestay" value="homestay" formControlName="penginapan">
                            <label class="form-check-label" for="exampleRadios1">
                              Homestay
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="penginapan" id="rumah tinggal" value="rumah tinggal" formControlName="penginapan">
                            <label class="form-check-label" for="exampleRadios2">
                              Rumah Tinggal
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="penginapan" id="kos" value="kos" formControlName="penginapan">
                            <label class="form-check-label" for="exampleRadios2">
                                Kos Kos-an
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="penginapan" id="villa" value="villa" formControlName="penginapan">
                            <label class="form-check-label" for="exampleRadios2">
                                Villa
                            </label>
                          </div>
                    </div>
                    
                    <app-display-errors 
                    [displayError]="isFieldValid('penginapan')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Nama Penginapan
                    </label>
                    <div class="input-area">
                        <input [ngClass] = "['text-input-paper',isFieldValid('nama_penginapan')?'invalid-form':'']"  autocomplete="text" type="text" name="nama_penginapan" formControlName="nama_penginapan">
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('nama_penginapan')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        No. Handphone Pemilik

                    </label>
                    <div class="input-area">
                        <input [ngClass] = "['text-input-paper',isFieldValid('no_pemilik')?'invalid-form':'']" autocomplete="text" type="text" name="no_pemilik" formControlName="no_pemilik">
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('no_pemilik')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Alamat Lengkap Penginapan


                    </label>
                    <div class="input-area">
                        <input [ngClass] = "['text-input-paper',isFieldValid('alamat_pemilik')?'invalid-form':'']"  autocomplete="text" type="text" name="alamat_pemilik" formControlName="alamat_pemilik">
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('alamat_pemilik')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <div class="label">
                        Titik Longitude & Latitude Google Maps (apabila ada)
                    </div>
                    <div class="image">
                        <img class="img-form" src="../../../assets/image/LongLat.PNG"/>
                    </div>
                    <div class="input-area">
                        <input class="text-input-paper" autocomplete="text" type="text" name="long_lat" formControlName="long_lat">
                    </div>
                </div>
                <div class="card">
                    <label class="label required">
                        Kota / Kabupaten
                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="mataram" value="mataram" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                                Mataram
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="lombok tengah" value="lombok tengah" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                                Lombok Tengah
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="lombok timur" value="lombok timur" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                                Lombok Timur
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="lombok barat" value="lombok barat" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                                Lombok Barat
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="lombok utara" value="lombok utara" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                                Lombok Utara
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="sumbawa" value="sumbawa" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                                Sumbawa
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="sumbawa barat" value="sumbawa barat" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                                Sumbawa Barat
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="bima" value="bima" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                               Bima
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="dompu" value="dompu" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                               Dompu
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kabkot" id="kab dompu" value="kab dompu" formControlName="kabkot">
                            <label class="form-check-label" for="exampleRadios1">
                               Kab. Dompu
                            </label>
                        </div>
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('kabkot')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Kecamatan
                    </label>
                    <div class="input-area">
                        <input [ngClass] = "['text-input-paper',isFieldValid('kecamatan')?'invalid-form':'']" autocomplete="text" type="text" name="kecamatan" formControlName="kecamatan">
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('kecamatan')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Jumlah Kamar Dengan AC

                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_ac" id="0" value="0" formControlName="kecamatan">
                            <label class="form-check-label" for="exampleRadios1">
                               0
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_ac" id="1" value="1" formControlName="jumlah_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_ac" id="2" value="2" formControlName="jumlah_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_ac" id="3" value="3" formControlName="jumlah_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_ac" id="4" value="4" formControlName="jumlah_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               4
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_ac" id="5" value="5" formControlName="jumlah_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               5
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_ac" id="-1" value="-1" >
                            <span class="form-check-label" for="exampleRadios1">
                                Other
                                
                            </span>
                            <span>
                                <input class="text-input-other" autocomplete="text" type="text" name="jumlah_ac" formControlName="jumlah_ac">
                            </span>
                        </div>
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('jumlah_ac')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Jumlah Kamar Dengan Non-AC / Kipas Angin

                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_non_ac" id="0" value="0" formControlName="jumlah_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               0
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_non_ac" id="1" value="1" formControlName="jumlah_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_non_ac" id="2" value="2" formControlName="jumlah_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_non_ac" id="3" value="3" formControlName="jumlah_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_non_ac" id="4" value="4" formControlName="jumlah_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               4
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_non_ac" id="5" value="5" formControlName="jumlah_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               5
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jumlah_non_ac" id="-1" value="-1">
                            <span class="form-check-label" for="exampleRadios1">
                                Other
                            </span>
                            <span>
                                <input class="text-input-other" autocomplete="text" type="text" name="jumlah_non_ac" formControlName="jumlah_non_ac">
                            </span>
                        </div>
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('jumlah_non_ac')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Harga Per Kamar Per Malam (AC) 


                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga_ac" id="150000" value="150000" formControlName="harga_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               Rp. 150.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga_ac" id="200000" value="200000" formControlName="harga_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               Rp. 200.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga_ac" id="250000" value="250000" formControlName="harga_ac">
                            <label class="form-check-label" for="exampleRadios1">
                                Rp. 250.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga_ac" id="300000" value="300000" formControlName="harga_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               Rp. 300.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga_ac" id="350000" value="350000" formControlName="harga_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               Rp. 350.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga_ac" id="-1" value="-1">
                            <span class="form-check-label" for="exampleRadios1">
                                Other
                            </span>
                            <span>
                                <input class="text-input-other" autocomplete="text" type="text" name="harga-ac" formControlName="harga_ac">
                            </span>
                        </div>
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('harga_ac')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Harga Per Kamar Per Malam (Non-AC) 
 


                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga-non-ac" id="100000" value="100000" formControlName="harga_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               Rp. 100.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga-non-ac" id="150000" value="150000" formControlName="harga_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               Rp. 150.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga-non-ac" id="200000" value="200000" formControlName="harga_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                                Rp. 200.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga-non-ac" id="250000" value="250000" formControlName="harga_non_ac">
                            <label class="form-check-label" for="exampleRadios1">
                               Rp. 250.000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="harga-non-ac" id="-1" value="-1">
                            <span class="form-check-label" for="exampleRadios1">
                                Other
                            </span>
                            <span>
                                <input class="text-input-other" autocomplete="text" type="text" name="harga-non-ac">
                            </span>
                        </div>
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('harga_non_ac')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Tempat Tidur Dalam Satu Kamar
                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="tempat_tidur" id="1 tempat tidur besar" value="1 tempat tidur besar"  (change)="onChangeTempatTidur($event)">
                            <label class="form-check-label" for="exampleRadios1">
                               1 Tempat Tidur Besar
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="tempat-tidur" id="2 tempat tidur kecil" value="2 tempat tidur kecil"  (change)="onChangeTempatTidur($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                2 Tempat Tidur kecil
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="tempat-tidur" id="extra bed" value="extra bed"  (change)="onChangeTempatTidur($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                Bisa Tambah Extra Bed
                            </label>
                        </div>
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('tempat_tidur')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Kamar Mandi
                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kamar-mandi" id="dalem" value="dalem" formControlName="kamar_mandi">
                            <label class="form-check-label" for="exampleRadios1">
                               Dalam
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kamar-mandi" id="luar" value="luar" formControlName="kamar_mandi">
                            <label class="form-check-label" for="exampleRadios1">
                                Luar
                            </label>
                        </div>
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('kamar_mandi')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Tipe Toilet Kamar Mandi 
                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipe-kamar-mandi" id="jongkok" value="dalem" formControlName="tipe_toilet">
                            <label class="form-check-label" for="exampleRadios1">
                               Jongkok
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipe-kamar-mandi" id="duduk" value="luar" formControlName="tipe_toilet">
                            <label class="form-check-label" for="exampleRadios1">
                                Duduk
                            </label>
                        </div>
                        
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipe-kamar-mandi" id="-1" value="-1">
                            <span class="form-check-label" for="exampleRadios1">
                                Other
                            </span>
                            <span>
                                <input class="text-input-other" autocomplete="text" type="text" name="tipe-kamar-mandi">
                            </span>
                        </div> -->
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('tipe_toilet')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Fasilitas

                    </label>
                    <div class="input-area">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="dapur" value="dapur" (change)="onChangeFasilitas($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                Dapur / Area Masak
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="ruang tengah" value="ruang tengah" (change)="onChangeFasilitas($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                Ruang Tengah / Ruang TV
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="area kumpul" value="area kumpul" (change)="onChangeFasilitas($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                Area Kumpul / Aula
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="parkir mobil" value="parkir mobil" (change)="onChangeFasilitas($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                Parkir Mobil
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="parkir motor" value="parkir motor" (change)="onChangeFasilitas($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                Parkir Motor
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="atraksi" value="atraksi" (change)="onChangeFasilitas($event)">
                            <label class="form-check-label" for="exampleRadios1">
                               Atraksi / Event
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="pusat oleh-oleh" value="pusat oleh-oleh" (change)="onChangeFasilitas($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                Pusat Oleh Oleh / Pernak Pernik
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="internet" value="internet"  (change)="onChangeFasilitas($event)">
                            <label class="form-check-label" for="exampleRadios1">
                                Internet / Wifi
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fasilitas" id="-1" value="-1">
                            <span class="form-check-label" for="exampleRadios1">
                                Other
                            </span>
                            <span>
                                <input class="text-input-other" autocomplete="text" type="text" name="fasilitas" (change)="onChangeFasilitas($event)">
                            </span>
                        </div>
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('fasilitas')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <div class="label">
                        Sebutkan Atraksi / Event Apa Saja Di Sekitar Penginapan
                    </div>
                    <div class="input-area">
                        <input class="text-input-paper" autocomplete="text" type="text" name="atraksi" formControlName="atraksi">
                    </div>
                </div>
                <div class="card">
                    <label class="label required">
                        Masukkan Foto Kamar Tidur


                    </label>
                    <div class="image">
                        <img class="img-form" src="../../../assets/image/Foto Kamar Tidur.PNG"/>
                    </div>
                    <div class="input-area">
                        <input class="form-control" autocomplete="text" type="file" name="foto-kamar-tidur" (change)="upload($event,'url_kamar_tidur')" accept=".png,.jpg">
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('url_kamar_tidur')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Masukkan Foto Kamar Mandi
                    </label>
                    <div class="image">
                        <img class="img-form" src="../../../assets/image/Foto Kamar Mandi.PNG"/>
                    </div>
                    <div class="input-area">
                        <input class="form-control" autocomplete="text" type="file" name="foto-kamar-mandi" (change)="upload($event,'url_kamar_mandi')">
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('url_kamar_mandi')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <label class="label required">
                        Masukkan Foto Tampak Jalanan Depan
                    </label>
                    <div class="image">
                        <img class="img-form" src="../../../assets/image/Foto Jalanan Depan.PNG"/>
                    </div>
                    <div class="input-area">
                        <input class="form-control" autocomplete="text" type="file" name="foto-jalanan-depan" (change)="upload($event,'url_jalanan_depan')">
                    </div>
                    <app-display-errors 
                    [displayError]="isFieldValid('url_jalanan_depan')" 
                    errorMsg="This is a required field"></app-display-errors>
                </div>
                <div class="card">
                    <div class="label">
                        Masukkan Foto Atraksi / Event (apabila ada)
                    </div>
                    <div class="image">
                        <img class="img-form" src="../../../assets/image/Foto Event.PNG"/>
                    </div>
                    <div class="input-area">
                        <input class="form-control" autocomplete="text" type="file" name="foto-event" (change)="upload($event,'url_atraksi')">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3 " >Submit</button>

            </form>

        </div>
    </div>
</div>
