@import "/src/styles.scss";
.con {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

.container-form {
  margin: auto;
  max-width: 90vw;
  width: 640px;
}

.card {
  border: 1px solid #e5e5e5;
  padding: 30px 25px;
  margin-bottom: 10px;

  @media screen and (min-width: $small) and (max-width: $medium) {
    height: 220px;
  }
}

.label {
  font-size: 16px;
  line-height: 24px;
  color: #202124;
  font-weight: 400;
}

.text-input-paper {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  color: #202124;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  margin: 0;
  min-width: 0%;
  outline: none;
  padding: 0;
  z-index: 0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}

.text-input-other {
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  color: #202124;
  z-index: 0;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  padding: 0;
  z-index: 0;
}

.text-input-other:focus {
  border-bottom: 1px solid blue;
}

.text-input-paper:focus {
  border-bottom: 1px solid blue;
}

.title {
  font-size: 32px;
  font-weight: 400;
  color: #202124;
  line-height: 135%;
  max-width: 100%;
  min-width: 0%;
}

.content {
  margin-top: 2rem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.input-area {
  margin-top: 2rem;
}

.form-check {
  margin-bottom: 1.4rem;
}

.img-form {
  width: 100%;
  margin-top: 2rem;
}

.label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
}

.invalid-form {
  border-bottom: 1px solid #d00 !important;
}
