<div class="container-catalog">
    <div class="app">
        <div class="row">
            <div class="col-2">
                <div class="round-img">
                    <img class="img" src="../../../assets/logo/globaltix.png"/>
                </div>
            </div>
            <div class="col-8 con-title" >
                <div class="title">
                    Catalog
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-justified nav-tabs ml-3" id="myTab" role="tablist">
                    <li class="nav-item" [ngbNavItem]="1">
                      <a class="nav-link" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" ngbNavLink>Bukalapak</a>
                      <ng-template ngbNavContent>
                        <div class=" ml-3 mb-4">
                            
                             <div class="container-sec ">
                                <div>
                                    <p class="title-row">
                                        Tiket Masuk Wisata
                                      </p>
                                </div>
                                  <div class=" row flex-nowrap container-section section">
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s0.bukalapak.com/img/56877318292/medium/data.jpeg" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s0.bukalapak.com/img/56877318292/medium/data.jpeg" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div> 
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s0.bukalapak.com/img/56877318292/medium/data.jpeg" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s0.bukalapak.com/img/56877318292/medium/data.jpeg" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s0.bukalapak.com/img/56877318292/medium/data.jpeg" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s0.bukalapak.com/img/56877318292/medium/data.jpeg" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                
                             </div>
                        </div>
                        <div class=" ml-3 mb-4">
                            
                            <div class="container-sec ">
                               <div>
                                   <p class="title-row">
                                       Voucher Makan
                                     </p>
                               </div>
                                 <div class=" row flex-nowrap container-section section">
                                   <div class="card mr-3">
                                       <img class="img-card" src="https://s0.bukalapak.com/img/06239118292/medium/data.jpeg" alt="">
                                       <div class="content-card">
                                           <p class="title-card">
                                               Tiket Masuk DUFAN & Tiket Masuk Panta...
                                           </p>
                                           <p class="price-card">
                                               Rp. 320.000
                                           </p>
                                       </div>
                                   </div>
                                   <div class="card mr-3">
                                       <img class="img-card" src="https://s0.bukalapak.com/img/06239118292/medium/data.jpeg" alt="">
                                       <div class="content-card">
                                           <p class="title-card">
                                               Tiket Masuk DUFAN & Tiket Masuk Panta...
                                           </p>
                                           <p class="price-card">
                                               Rp. 320.000
                                           </p>
                                       </div>
                                   </div> 
                                   <div class="card mr-3">
                                       <img class="img-card" src="https://s0.bukalapak.com/img/06239118292/medium/data.jpeg" alt="">
                                       <div class="content-card">
                                           <p class="title-card">
                                               Tiket Masuk DUFAN & Tiket Masuk Panta...
                                           </p>
                                           <p class="price-card">
                                               Rp. 320.000
                                           </p>
                                       </div>
                                   </div>
                                   <div class="card mr-3">
                                       <img class="img-card" src="https://s0.bukalapak.com/img/06239118292/medium/data.jpeg" alt="">
                                       <div class="content-card">
                                           <p class="title-card">
                                               Tiket Masuk DUFAN & Tiket Masuk Panta...
                                           </p>
                                           <p class="price-card">
                                               Rp. 320.000
                                           </p>
                                       </div>
                                   </div>
                                   <div class="card mr-3">
                                       <img class="img-card" src="https://s0.bukalapak.com/img/06239118292/medium/data.jpeg" alt="">
                                       <div class="content-card">
                                           <p class="title-card">
                                               Tiket Masuk DUFAN & Tiket Masuk Panta...
                                           </p>
                                           <p class="price-card">
                                               Rp. 320.000
                                           </p>
                                       </div>
                                   </div>
                                   <div class="card mr-3">
                                       <img class="img-card" src="https://s0.bukalapak.com/img/06239118292/medium/data.jpeg" alt="">
                                       <div class="content-card">
                                           <p class="title-card">
                                               Tiket Masuk DUFAN & Tiket Masuk Panta...
                                           </p>
                                           <p class="price-card">
                                               Rp. 320.000
                                           </p>
                                       </div>
                                   </div>
                                 </div>
                               
                            </div>
                       </div>
                       <div class=" ml-3 mb-4">
                            
                                <div class="container-sec ">
                                <div>
                                    <p class="title-row">
                                        Spa
                                        </p>
                                </div>
                                    <div class=" row flex-nowrap container-section section">
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s3.bukalapak.com/img/36585339292/medium/data.jpeg" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div> 
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mr-3">
                                        <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                                        <div class="content-card">
                                            <p class="title-card">
                                                Tiket Masuk DUFAN & Tiket Masuk Panta...
                                            </p>
                                            <p class="price-card">
                                                Rp. 320.000
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                
                                </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-outline-dark btn-lg btn-block " [routerLink]="['/catalog/products']">Lihat semua produk</button>
                            </div>
                        </div>
                      </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="2">
                      <a class="nav-link" id="profile-tab" data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="false" ngbNavLink>Tokopedia</a>
                      <ng-template ngbNavContent>
                        <p>Tokopedia</p>
                      </ng-template>
                    </li>
                  </ul>
                  <div [ngbNavOutlet]="nav" class="mt-5"></div>
            </div>
        </div>
    </div>

</div>