<div class="container container-detail">
    <div class="header-payment">
        Your Booking Detail
        <div class="row mt-3">
            <div class="col-md-1">
                <img class="img-header" src="/assets/icon/logo-globaltix.svg"/>
            </div>
            <div class="col-md-8" style="display:flex;justify-content:center;flex-direction: column;">
                <div class="title-header">GlobalTix Pte. Ltd.</div>
                <div class="mt-2">{{ref_number}}</div>
                <div class="mt-2 title-header">{{formatNumber(grandtotal)}} IDR</div>

            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>
    <div>
        <div class="title-payment mt-5 mb-2">
            Payment Options
        </div>
        <ngb-accordion [closeOthers]="true"  #acc="ngbAccordion" activeIds="toggle-1">
            <ngb-panel id="toggle-1" >
            <ng-template ngbPanelHeader  >
                <div class="d-flex align-items-center justify-content-between">
                    <button type="button" class="btn btn-link collapsed" ngbPanelToggle  aria-expanded="false" aria-controls="toggle-2">Global Card</button>
                    <div>
                    <span>
                        <img class="icon " src="https://d27uu9vmlo4gwh.cloudfront.net/images/v4/images/icon/master.png" alt="">
                    </span>
                    <span>
                        <img class="icon mr-3 ml-3" src="https://d27uu9vmlo4gwh.cloudfront.net/images/v4/images/icon/visa.png" alt="">
                    </span>
                    <span>
                        <img class="icon" src="https://d27uu9vmlo4gwh.cloudfront.net/images/v4/images/icon/jcb.png" alt="">
                    </span>
                    </div>
                </div>
                </ng-template>
              <ng-template  ngbPanelContent>
                <form class="pl-4" action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">CARD NUMBER</label>
                                <input type="text" class="form-control" id="card-number" aria-describedby="card-number" placeholder="0000-0000-0000-0000" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Card Number is required</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="exampleInputEmail1">CARDHOLDER NAME</label>
                                <input type="text" class="form-control" id="card-holder-name" aria-describedby="card-holder-name" placeholder="Enter Cardholder Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputEmail1">EMAIL</label>
                                <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-secondary mr-2" (click)="modal.close('Save click')">Cancel</button>
                        <button type="button" class="btn btn-success" (click)="continuePayment()">Continue Payment</button>
                    </div>
                </form>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2">
                <ng-template ngbPanelHeader  >
                    <div class="d-flex align-items-center justify-content-between">
                        <button type="button" class="btn btn-link collapsed" ngbPanelToggle  aria-expanded="false" aria-controls="toggle-2">
                            Digital Payment
                        </button>
                        <div>
                            <span>
                                <img class="icon mr-3 ml-3" src="https://d27uu9vmlo4gwh.cloudfront.net/images/v4/images/icon/linkaja.png" alt="">
                            </span>
                            <span>
                                <img class="icon" src="https://d27uu9vmlo4gwh.cloudfront.net/images/v4/images/icon/ovo.png" alt="">
                            </span>
                        </div>
                    </div>
                    </ng-template>
                    <ng-template  ngbPanelContent>
                        <form class="pl-4" action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">PAYMENT METHOD</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="linkaja" selected>Link Aja</option>
                                        <option value="ovo">OVO</option>
                                      </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" >
                                        <label for="exampleInputEmail1">PAYER NAME</label>
                                        <input type="text" class="form-control" id="card-number" aria-describedby="card-number" placeholder="Enter Payer Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Card Number is required</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">EMAIL</label>
                                    <input type="text" class="form-control" id="card-holder-name" aria-describedby="card-holder-name" placeholder="Enter Email" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">PHONE NUMBER</label>
                                    <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Enter Phone" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="button" class="btn btn-secondary mr-2" (click)="modal.close('Save click')">Cancel</button>
                                <button type="button" class="btn btn-success" (click)="continuePayment()">Continue Payment</button>
                            </div>
                        </form>
                      </ng-template>
            </ngb-panel>
          </ngb-accordion>
    </div>
</div>